<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>User Profile Form</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  
</head>
<body class="bg-green-100">

  <div class="h-full min-h-screen flex items-center flex-col justify-center px-6 pb-12">
    <div class="flex flex-row items-center space-x-4 justify-between w-full max-w-md pl-2 pr-2">
    <img src="/static/assets/Finverse_logo.png" alt="Finverse Logo" class="my-5  w-32 h-auto"/>
    <img src="/static/assets/psgtech_logo.png" alt="Psgtech Logo" class="my-5 w-auto h-12"/>
    </div>
    
    <div class="w-full max-w-md p-6 rounded-lg bg-white shadow-lg border border-black">

      
      <a href="/" class="bg-gray-600 text-white py-1 px-2 pb-1.5 rounded-md hover:bg-black cursor-pointer border-2 border-black">Login Page</a>
      
      <h1 class="text-3xl font-bold text-black mt-4">REGISTRATION SUCCESSFULL!</h1>
      <p class="text-sm text-gray-600 mb-4">Your Registration for Finverse Recruitment has been successfully completed!</p>
      
      <p class="text-gray-800"> Click the link below to join the <strong>Finverse Recruitment</strong> Whatsapp Group for further updates.</p>
      <img src="/static/assets/qr_code.jpg" alt="QR Code" class="my-4 w-32 h-32 "/>
      <a  class="bg-green-500 text-white py-1 pb-1.5 px-4 rounded-md hover:bg-green-600 cursor-pointer border-2 border-black">Join whatsapp group</a>
      

    
    </div>
  </div>

</body>
</html>
